<header>
    <div class="navbar navbar-expand-lg">
        <div class="container">
            <div class="logo">
                <a class="navbar-brand mr-4" href="#">
                    <img src="../../assets/medicine.png" width="60px" height="60px" alt="">Diabetes App
                </a>
            </div>
            <div class="profile" (click)="toggleProfileCard()">
                <i class="fa fa-user fa-lg" ></i>
                <span *ngIf="userName" class="name"><b>{{userName}}</b></span>
            </div>
            <div class="profile-card" [hidden]="!showProfileCard">
                <b style="text-shadow: none; cursor: pointer;" (click)="signOut()"> Sign Out<img src="../../assets/logout.png" width="30px" style="border:none;margin-left: 2rem;"></b>
              </div>
        </div>

    </div>
</header>