h2{
    color: black;
}

.container-fluid {
    height: auto;
    /* background: url('../../assets/26363.jpg'); */
    /* background: url('../../assets/home-log.png'); */
    /* background: url('../../assets/home.jpg'); */
    background-repeat: round;
    margin-top: -9px;
    height: 100%;
}

.login {
    /* width: 60%;
    margin-top: 4rem;
    height: auto;
    background: transparent;
    background: url('../../assets/heart.png');
    background-repeat: round;
    background-color: aliceblue;
    box-shadow: 8px 8px 6px -6px #0d6efd69; */
}
.btn-block{
    margin-top: 15%;
    margin-left: 15%;
}
.login-home {
    background: #198754 !important;
}
.login-btn {
    background: #0d6efd !important;
}
.signup-home{
margin-left: 3%;
background: #0d6efd !important;
}
