/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-shadow: 1px 2px #2125293d;
}

.mat-typography{
/* background: url('./assets/doctorhome.jpg'); */
background: url('./assets/home.jpg');
background-size: cover;
background-repeat: no-repeat;
}
.red-error{
    color: #ffc107!important;
}

@media print {

    /* hide the print button */
    .hide-icon {
        display: none;
    }
}


