.btn-block{
    margin-top: 15%;
    margin-left: 15%;
}
.login-home {
    background: #198754 !important;
}
.login-btn {
    background: #0d6efd !important;
}
.signup-home{
margin-left: 3%;
background: #0d6efd !important;
}